@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primaryColor: #16a34a; /* tailwind bg-lime-600 */
	--textColor:#3f3f46;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	color:var(--textColor);
	font-family: 'Roboto', sans-serif;;
}

  
nav a {
	font-weight: bold;
	color: #2c3e50;
}
  
nav a.router-link-exact-active {
	color: var(--primaryColor)
}



