@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primaryColor: #84cc16;
	--textColor:rgb(37, 33, 33);
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	color:var(--textColor);
	font-family: 'Roboto', sans-serif;;
}

  
nav a {
	font-weight: bold;
	color: #2c3e50;
}
  
nav a.router-link-exact-active {
	color: var(--primaryColor)
}

